{% extends "base.html" %}
{% block head_title%}
{{instance.title }}|{{block.super}}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
 {%if instance.image%}
   <img src='{{instance.image.url}}' class='img-responsive' />
  {%endif%}
<h1> {{title}} <small>{{ instance.timestamp|timesince }}</small></h1>

{{ instance.content| linebreaks }}</br>

<p><div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
<p><div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div></p>
<p><a href="{% url 'posts:update' instance.id %}" class="btn btn-primary" role="button">EDIT</a>
<a href="{% url 'posts:delete' instance.id %}" class="btn btn-primary" role="button">DELETE</a></p>
</div>
{% endblock content %}